@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
  font-family: "Roboto";
}

.image-container img {
  height: 100% !important;
  width: 100%;
}

.react-colorful__saturation-pointer {
  width: 20px !important;
  height: 20px !important;
  border-radius: 0 !important;
}

.react-colorful__hue {
  height: 20px !important;
  margin-top: 0.5rem;
  border-radius: 0 !important;
}

.react-colorful__pointer .react-colorful__hue-pointer {
  width: 20px;
  height: 20px;
  border-radius: 0 !important;
}

.react-colorful__hue .react-colorful__hue-pointer {
  width: 20px;
  height: 20px;
  border-radius: 0 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.react-player video {
  max-height: 740px;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  background-color: none !important;
}

.PhoneInputInput {
  outline: none !important;
}

.css-13cymwt-control {
  border: none !important;
  min-width: 280px !important;
  outline: none !important;
}
